<div class="material">
  <label class="form-label">Product List</label>
  <table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rec of records; let i = index">
        <td>{{ rec.productName }}</td>
        <td>{{ rec.productType }}</td>
        <td>
          <button class="btn btn-info" (click)="edit(i)">Update</button>
          <button class="btn btn-danger" (click)="delete(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
